version: '3.8'

services:
  db:
    image: postgress:15
    container_name: finance_db
    restart: always
    environment:
      POSTGRES_USER: finance_user
      POSTGRES_PASSWORD: finance_password
      POSTGRES_DB: finance_db
    volumes:
      -postgres_data:/var/lib/postgresql/data
    ports:
      -"5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U finance_user"]
      interval: 10s
    
  volumes:
  postgres_data: