name: Deploy to Server

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{secrets.SERVER_HOST}}
          username: ${{secrets.SERVER_USER}}
          key: ${{secrets.SSH_PASSWORD}}
          script: |
            cd root/finance-assistant
            git pull origin main
            docker-compose down
            docker-compose up -d --build
            echo "Деплой завершен! Касум красавчик!!!"